build
dist / media
node_modules
.DS_Store
.env
.env.*
.next
next-env.d.ts
.vercel

# Payload default media upload directory
public/media/

public/robots.txt
public/sitemap*.xml


# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/

# other
.github/
.direnv/
.next/
.gitignore
.editorconfig
result
README.md
flake.nix
flake.lock
Dockerfile
docker-compose.yml